/*
  Fonts - by Google Web Fonts
*/
  /* cyrillic-ext */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(./lib/fonts/e3t4euO8T-267oIAQAu6jDQyK3nYivN04w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(./lib/fonts/e3t4euO8T-267oIAQAu6jDQyK3nRivN04w.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(./lib/fonts/e3t4euO8T-267oIAQAu6jDQyK3nWivN04w.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(./lib/fonts/e3t4euO8T-267oIAQAu6jDQyK3nbivN04w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(./lib/fonts/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/*
  General
*/
  body {
    background: url('./img/bg.jpg');  /* #A5B61D; */
    background-repeat: repeat;
    font-family: 'Press Start 2P';
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  img { 
    max-width: 100%;
    image-rendering: pixelated; 
  }
  .hide { display: none !important; }

  .rotate90 {
    transform: rotate(90deg);
    display: inline-block;
    text-shadow: 2px -2px #000;
  }
  .rotate-90 {
    transform: rotate(-90deg);
    display: inline-block;
    text-shadow: -2px 2px #000;
  }

  #loading {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
    top: 0;
    left: 0;
    background: black;
    position: fixed;
    z-index: 200;
  }
    #loading p {
      color: #FFF;
      font-size: 20px;
      padding: 20px 40px;
    }
  
  #game-over {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 200;
    text-align: center;
  }
    #game-over p {
      color: red;
      font-size: 20px;
      padding: 20px 40px;
      font-size: 40px;
    }
/*
  Game Canvas
*/

  canvas { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
  }
  #canvas_static { z-index: 10; }
  #canvas_layers { z-index: 20; }
  #canvas_ui { z-index: 30; }

  #gameCanvas {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }
  #gameCanvas.show { display: block; }

/*
  Start Game
*/
  #first-screen {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/*
  Main Menu
*/

  #mainMenu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #mainMenu.show { display: flex; }

    .new-game .menu-save { display: none; }
    .new-game .menu-continue { display: none; }
    .paused .new-game .menu-continue { display: block ; }
    .paused .new-game .menu-save { display: block; }
    .paused  #controls,
    .paused  #mainMenu{ background: rgba(0,0,0, 0.5); }
    .paused #mainMenu .game-title { display: none; }

    #mainMenu .game-title {
      font-size: 40px;
      color: #FFF;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }

    .menu { 
      margin: 0;
      padding: 0;
    }
    .menu li { 
      width: 100%;
      text-align: center;
      list-style: none;
      padding: 5px;
    }
    .menu li a {
      font-size: 14px;
      color:#E9522C;
      text-decoration: none;
      background: #FBD609;
      border: 5px solid white;
      box-shadow: 1px 1px 1px 3px #000;
      padding: 5px 15px;
      display: block;
      border-radius: 30px;
      text-shadow: 2px 2px #000;
      line-height: 20px;
    }

  /*
    Controls
  */

    #controls {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #controls.show { display: flex; }

    .defaultTable {
      background: #FBD609;
      border: 5px solid white;
      box-shadow: 1px 1px 1px 3px #000; 
      margin: 20px;
      border-radius: 10px;
    }
    .defaultTable tr td { 
      padding: 10px;
      color:#FFF; 
      text-shadow: 2px 2px #000;
      text-align: center;
    }
    .defaultTable tr td:nth-child(1) { 
      text-align: right; 
      color: #E9522C;
    }
